name: Build Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Deps
        run: sudo apt -y update && sudo apt -y install cmake build-essential

      - name: Build sources
        run: |
          for dir in $(dirname `find . -name CMakeLists.txt`); do
            pushd $PWD >/dev/null
            cd $dir && cmake -S . -B build && cmake --build build/ --parallel 4
            popd >/dev/null
          done
